
.header{
    background-color:crimson;
    height: 200px;
    color: rgb(0, 0, 0);
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/491/062/non_2x/programmer-working-concept-for-web-banner-man-work-with-code-and-programming-at-computer-creates-software-modern-person-scene-illustration-in-flat-cartoon-design-with-people-characters-vector.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}








.blog{
    background-color: teal;
    color: white;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 5px 20px yellow;
}
.blog:hover{
    background-color:crimson;
}
p{
    text-align: justify;
}

span{
    color: yellow;
}
